<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-5 p-5">
            <table class="table text-light">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Products</th>
                        <th scope="col">Products Image</th>
                        <th scope="col">Discription</th>
                        <th scope="col">Price</th>

                        <th scope="col">Payment Method</th>
                        <th scope="col"> Status</th>
                        <th scope="col">Payment Date</th>
                        <th scope="col">User(Buy Products)</th>
                        <th scope="col">User Email(Buy Products)</th>
                        <th scope="col">User(Sell Products)</th>
                        <th scope="col">User Email(Sell Products)</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each pro}}

                    <tr>

                        <td>{{@index}}</td>
                        <td>{{this.petinfo.pname}}</td>
                        <td><img src="/user-image/{{this.pro._id}}1.jpg"
                                style="width: 200px; height: 200px; border-radius: 20px;" alt=""></td>
                        <td style="max-width: 90px;">{{this.petinfo.discription}}</td>
                        <td>{{this.petinfo.price}}</td>
                       
                        <td>{{this.pay}}</td>
                        <td>{{this.status}}</td>
                        <td>{{this.date}}</td>
                        <td>{{this.byuserss.Name}}</td>
                        <td>{{this.byuserss.Email}}</td>
                        <td>{{this.selluserss.Name}}</td>
                        <td>{{this.selluserss.Email}}</td>
                    </tr>

                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>