<div>
    <div class="container-fluid">

        {{#if products}}
        <div class="row" style="background-color: black;">
            <div class="col-12 col-md-12 p-5">
                <table class="table " style="text-align:center ;">
                    <thead>
                        <tr style="color: white; font-size: 24px;">
                            <th scope="col">NO.</th>
                            <th scope="col">Image</th>
                            <th scope="col">Product_Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Remove Products</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr style="color: white; font-size: 20px;">

                            <td>{{@index}}</td>
                            <td><a href="/proinfo?id={{this.item}}"><img src="/admin_image/{{this.first._id}}.jpg"
                                        width="150px" height="100px" alt=""></a>
                            </td>
                            <td><a href="/proinfo?id={{this.item}}"
                                    style="text-decoration: none; color: white;">{{this.first.name}}</a>
                            </td>
                            <td><a href="#" style="text-decoration: none; color: white;">{{this.first.price}}</a>
                            </td>
                            <td>
                                <button type="button" class="m-2"
                                    onclick="cartqut('{{this._id}}','{{this.item}}','{{this.qut}}',1)">+</button>
                                <span id="{{this.item}}">{{this.qut}}</span>
                                <button type="button" class="m-2"
                                    onclick="cartqut('{{this._id}}','{{this.item}}','{{this.qut}}',-1)">-</button>
                            </td>
                            <td>
                                <a href="/proinfo?id={{this.item}}"
                                    style="text-decoration: none; color: white;"><span>{{this.totalAmount}}</span></a>
                            </td>
                            <td>
                                <a href="/cartremove?id={{this.first._id}}" class="btn btn-danger mt-4"
                                    onclick="return confirm('Are you sure to remove this')">Remove <b>X</b></a>

                            </td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="float-right m-5">
                    {{#if total}}
                    <h2 class="text-light">Total : <span id="total">{{total}}</span> ₹</h2>
                    {{else}}
                    <h2 class="text-light">Total : <span id="total">0</span> ₹</h2>
                    {{/if}}
                    <a href="/placeorder" class="btn btn-outline-success mt-3" style="width: 100%;">Place Order</a>
                </div>
            </div>
        </div>
        {{else}}
        <h1 class="text-center p-5 text-white mt-3">Nothing you selected....</h1>
        {{/if}}
    </div>
</div>


<script>
    var cartqut = (cartId, proId, Quantity, cute) => {

        var q = parseInt(document.getElementById(proId).innerHTML)


        $.ajax({
            url: '/cartqut',
            data: {
                cartid: cartId,
                proid: proId,
                quantity: q,
                cut: parseInt(cute)
            },
            method: 'post',
            success: (response) => {
                if (response.remove) {
                    alert("Your Product is remove from the cart")
                    location.reload()
                }
                else {


                    document.getElementById(proId).innerHTML = q + cute
                    document.getElementById('total').innerHTML = response.total
                    location.reload()


                }
            }

        })
    }
</script>