<div style="background-color: black;">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3 " style="background-color: #343a40; text-align: center;">
                
                <a href="/" class="btn btn-dark"style="width: 100%; color: #ffc107;" id="pets">PETS</a>
            </div>
            <div class="col-md-3 " style="background-color: #ffc107;text-align: center;">
                <a href="/accessories" class="btn btn-warning" style="width: 100%;">ğ˜¼ğ˜¾ğ˜¾ğ™€ğ™ğ™ğ™Šğ™ğ™„ğ™€ğ™</a>
            </div>
            <div class="col-md-3 " style="background-color: #343a40; text-align: center;">
                <a href="/food" class="btn btn-dark" style="width: 100%; color: #ffc107;">ğ™ğ™Šğ™Šğ˜¿</a>
            </div>
            <div class="col-md-3 " style="background-color: #ffc107; text-align: center;">
                <a href="/instruction" class="btn btn-warning" style="width: 100%;">ğ™„ğ™‰ğ™ğ™ğ™ğ™ğ˜¾ğ™ğ™„ğ™Šğ™‰ğ™</a>
            </div>
        </div>



        <div class="row">
            {{#each products}}

            <div class=" col-md-3 mt-3 p-5" id="f1">
                <a class=" " href="/proinfo?id={{this._id}}" style="text-decoration: none; color: #fff;">
                    <div class="card m-auto"
                        style="width: 18rem; border-radius: 20px; background-color: black; box-shadow: rgba(222, 201, 15, 0.3) 0px 0px 0px 3px; height: 26empx; margin-top: 100em;">
                        <img class="img-fluid p-3" src="user-image/{{this._id}}1.jpg" alt="Card image cap"
                            style="border-radius: 30px; height: 200px;">
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title" style="color: #ffc107;">{{this.petinfo.pname}}</h5>

                            <p style="font-size: 21px;">â‚¹ {{this.petinfo.price}} /-</p>
                            <p><i class="material-icons text-warning" style="font-size:36px">place</i>
                                {{this.petinfo.place}}</p>

                            </a>

                                <button onclick="addTocart('{{this._id}}')" class="btn btn-warning" style="border-radius: 20px;" onmouseover="click ">Add To
                                    Cart</button>

                        </div>

                    </div>
                



            </div>
            {{/each}}

        </div>


    </div>
</div>

 
